POSTGRES_DB=gestion_financiaciones
POSTGRES_USER=ceac_admin
POSTGRES_PASSWORD=
DATABASE_URL=postgresql://ceac_admin:PASSWORD@localhost:5432/gestion_financiaciones
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NODE_ENV=development
